* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    text-decoration: none;
}

$primary: #9356DC;
$secondary: #FF79DA;
$tertiaire: #99E2D0;

@mixin btn {
    padding: 12px 24px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    transition: .25s;
    box-shadow: 4px 4px 10px #00000045;
    border-radius: 80px;
    background:linear-gradient(0deg, $primary, $secondary);
    font-weight: 400;
}

@mixin padding-page {
    padding: 2rem 1rem;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}

.tertiaire {
    color: $tertiaire;
}

.loader {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(255,255,255);
    z-index: 10000;
    justify-content: center;
    align-items: center;
    animation: loader 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;

    .loader {
        &__logo {
            font-family: 'Shrikhand';
            font-size: 3rem;
            animation: LogoAnimate 2s;
            animation-delay: 0.5s;
        }
    }
}

@keyframes LogoAnimate {
    0% {
        transform: translateY(0) rotate(360deg);
    }
}

@keyframes loader {
    100% {
        opacity: 0;
        z-index: -1000;
    }
}

header {
    padding: 1rem;
    box-shadow: 0px 2px 5px #27262666;
    position: relative;
    z-index: 1000;

    .logo {
        text-align: center;
        font-family: 'Shrikhand';
    }
}

.content {

    .location {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(231, 231, 231);
            position: relative;
            font-size: 1.2rem;
            padding: 1.2rem;
    
            .location__icon {
            margin: 0 1rem 0 0;
            }
        }

    .location__text {
        font-weight: 500;
    } 
      
        .info {
            padding: 1.5rem;
            text-align: center;
            background: #f5f5f5;
    
            .info__text {
                font-weight: 300;
                margin: 1.5rem 0;
            }
    
            .btn__explore {
                @include btn;
    
                &:hover {
                    opacity: 0.8;
                    box-shadow: 4px 4px 10px #000000c9;
                }
            }
        }

    .function {

        @include padding-page;

        .container {

            ul {

                list-style: none;
                counter-reset: li;

                li {

                    padding: 1.5rem;
                    margin: 1rem 1rem 1rem 1rem;
                    background: #f6f6f6;
                    border-radius: 1.25rem;
                    display: flex;
                    position: relative;
                    box-shadow: .25rem .25rem .5rem #00000022;

                    &:hover {
                            opacity: 0.8;
                            background-color: rgb(246, 200, 248);
                            transition: all 1s;
                    }

                    i {
                        margin-right: 1rem;
                        color: #7e7e7e;
                    }

                    span {
                        color: #000;
                        font-weight: 400;
                    }

                    &::before {
                    counter-increment: li;
                    content:"" counter(li);
                    width: 1.5rem;
                    height: 1.5rem;
                    border-radius: 100%;
                    background: $primary;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    position: absolute;
                    left: -1rem;
                    }
                }
            }
        }
    }

    .restaurants 
    
        {background: #f6f6f6;
        @include padding-page;
    
        .container {
    
            .cards {
                display: flex;
                flex-direction: column;
    
                .card {
                    background: #fff;
                    border-radius: 1rem;
                    position: relative;
                    display: block;
                    margin: 0.5rem;
                    box-shadow: .25rem .25rem .5rem #00000012;
    
                    img {
                        width: 100%;
                        height: 14rem;
                        border-radius: 1rem 1rem 0 0;
                        object-fit: cover;
                    }
    
                    .card__new {
                        background: #99e1cf;
                        color: #138668;
                        padding: .3rem;
                        position: absolute;
                        top: 1rem;
                        right: .75rem;
                    }
    
                    .card__info {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin: 0 1rem;
                        color: black;
                        padding: 1rem;
    
                        h3 {
                            margin: 0 0 .25rem;
                        }
    
                        .card__heart {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
    
                            i {
                                font-size: 2em;
                                position: absolute;
    
                                &:hover {
                                    opacity: 0;
                                }
                            }
    
                            .heart__color {
                                opacity: 0;
    
                                &:hover {
                                    opacity: 1;
                                    background: linear-gradient(0deg, $primary, $secondary);
                                    transition: all 1s;
                                    background-clip: text;
                                    -webkit-background-clip: text;
                                    color: transparent;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

footer {
    padding: 1rem;
    background: #383838;
    display: flex;
    flex-direction: column;

    .footer__text {
        font-family: 'Shrikhand';
        font-size: 1.5rem;
        margin: 0 0 1rem;
        color: #fff;
    }

    ul {
        list-style: none;
        margin-bottom: 1rem;

        li {
            margin: .5rem 0;

            a {
                text-decoration: none;
                color: #fff;

                i {
                    width: 1.2rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

